
$mailer_width: 680px;

$font-size: 18px;

$EmailPaddingCell: 20px;
$EmailPaddingBorder: 22px;

//$font_family: 'Nissan Brand','Ubuntu', Verdana, sans-serif;
$font_family: Ubuntu, Verdana, sans-serif;
$font_family_fallback: Verdana, sans-serif;

$colour_font_body: #000000;

$colour_background: #FFFFFF;

$colour_anchor_text: #000000;
